<% @posts.reverse.each do |post| %>

  <div class="post">
  <h3><a href="<%= post.link %>"><%= post.body %></a></h3>

  <p>
    <%= form_for @comment do |f| %>
      <%= f.text_field :body, placeholder: "Add Comment" %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :commentable_id, value: post.id %>
      <%= f.hidden_field :commentable_type, value: "Post" %>
      <%= f.submit %>
    <% end %>
  </p>

  <p>
    <% post.comments.each do |comment| %>
      <em><%= comment.user.email %> says:</em>
      <%= comment.body %><br>
    <% end %>
  </p>
  </div>
<% end %>